language: php
php:
  - hhvm
  - nightly
  - 7.1
  - 7.0
  - 5.6
  - 5.5
  - 5.4

dist: trusty

before_script:
  - composer self-update
  - composer install --no-interaction

script: vendor/bin/phpunit --configuration phpunit.xml

notifications:
  email: false
